body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorCards{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.colorBlock{
  width: 6em;
  height: 4em;
  margin: 1em 1em 1em 1em ;
  padding: 2em 1em 1em 1em; 
  border-radius: 1em;
}